@model TiendaVirtualReyes.Models.Usuario

@{
    ViewData["Title"] = "Editar Usuario";
}

<h1>Editar Datos de Usuario</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input type="hidden" asp-for="Id" />

            <div class="form-group mb-3">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="Rol" class="control-label">Rol del Usuario</label>
                <select asp-for="Rol" class="form-control">
                    <option value="">-- Seleccione un Rol --</option>
                    <option value="Administrador">Administrador</option>
                    <option value="Cajero">Cajero</option>
                    <option value="Bodeguero">Bodeguero</option>
                    <option value="Cliente">Cliente</option>
                </select>
                <span asp-validation-for="Rol" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="celular" class="control-label"></label>
                <input asp-for="celular" class="form-control" />
                <span asp-validation-for="celular" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Actualizar Cambios" class="btn btn-primary" />
                <a asp-action="index" class="btn btn-secondary">Volver</a>
            </div>
        </form>
    </div>
</div>